@charset "utf-8";
/* CSS Document */



/* Low-level stuff */

body,
td,
th,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, sans-serif;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a:focus {
  outline: solid orange;
}

a img {
  border: none 0px #fff;
}

body,
td,
th,
p {
  line-height: 1.5;
}

body,
td,
th,
p,
ul,
li {
  box-sizing: border-box;
  color: #333;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}



/*  .page-body  */

.page-body {
  background-color: #f3f3f3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.page-body ul {
  padding: 0;
}



/*  .page-body .page-header  */

.page-body .page-header {
  height: 102px;
  position: sticky;
  top: 0;
  /* to override the z-index from leaflet.css */
  z-index: 1000;
}

.page-body .page-header,
.page-body .page-header h1 {
  width: 100%;
}

.page-body .page-header h1 {
  box-sizing: border-box;
  background-color: #252831;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  height: 56px;
  letter-spacing: 0.3em;
  line-height: 56px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  position: static;
}



/*  .page-body .page-header.vendor-header  */

.page-body .vendor-header {
  background-color: #eee;
}

.page-body .vendor-header .page-nav {
  background-color: #eee;
  height: inherit;
  width: 100%;
}

.page-body .vendor-header .page-nav,
.page-body .vendor-header .page-nav .breadcrumb {
  height: 46px;
}

.page-nav .breadcrumb {
  background-color: #eee;
  box-sizing: border-box;
  height: 46px;
  list-style: none;
  /*margin: 0 auto 0 20px;
  padding: 10px 0;*/
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  /* to override the z-index from leaflet.css */
  z-index: 1000;
}

/* Display list items side by side */
.page-nav .breadcrumb li {
  display: inline;
  float: left;
  font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
.page-nav .breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links page-body the list */
.page-nav .breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.page-nav .breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}



/*  .page-body .page-header.standard-header  */

.page-body .standard-header {
  height: 56px;
}



/*  .page-body .page-main  */
.page-body .page-main {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
}



/*  .page-body .page-main.standard-main  */

.page-body .page-main.standard-main {
}



/*  .page-body .page-main.vendor-main  */

.page-body .page-main.vendor-main {
}



/*  .page-body .page-main .map-view  */

.page-body .page-main .map-view {
  background: blue none repeat scroll 0 0;
}

.page-body .page-main .map-view .map {
  background-color: #ccc;
}

.page-body .page-main .map-view,
.page-body .page-main .map-view .map {
  height: 400px;
  width: 100%;
}

.page-body .page-main .map-view .map .leaflet-top,
.page-body .page-main .map-view .map .leaflet-bottom {
  /* so the map controls will scroll behind the header */
  z-index: 999;
}

.page-body .page-main .map-view .map.leaflet-container .leaflet-marker-pane .leaflet-marker-icon:focus {
  outline: solid orange;
}

.page-body .page-main .map-view .map.leaflet-container .leaflet-control-attribution a {
  /*color: #252831;*/
  color: #252831;
  text-decoration: underline;
}



/*  .page-body .page-main .primary-view  */

.page-body .page-main .primary-view {
  
}

.page-body .page-main .primary-view .styled-box-view{
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  border-radius: 20px 0 20px 0;
  box-shadow: 2px 2px 5px #f1f1f1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 0;
  width: 100%;
}



/*  .page-body .page-main .primary-view .list-view  */

.page-body .page-main .primary-view .list-view {
  list-style-type: none;
}



/*  .page-body .standard-main .primary-view .filter-view  */

.page-body .standard-main .primary-view .filter-view {
  align-items: center;
  background-color: #3397DB;
  /*background-color: #252831;*/
  height: 80px;
  width: 100%;
}

.page-body .standard-main .primary-view .filter-view h2 {
  color: white;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}



/*  .page-body .standard-main .primary-view .filter-view .options-view  */

.page-body .standard-main .primary-view .filter-view .options-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 360px;
}

.page-body .standard-main .primary-view .filter-view .options-view select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Helvetica,sans-serif;
  font-size: 16px;
  height: 35px;
  letter-spacing: 0;
  margin: 0 auto;
  padding: 0 10px;
  width: 90%;
}

.page-body .standard-main .primary-view .filter-view .options-view select:focus {
  outline: solid orange;
}




/*  .page-body .standard-main .primary-view .list-view  */

.page-body .standard-main .primary-view .list-view  {
  background-color: #f3f3f3;
  box-sizing: border-box;
  list-style: outside none none;
  padding: 30px 20px 80px;
  text-align: center;
  width: 100%;
}

.page-body .standard-main .primary-view .list-view li {
  min-height: 380px;
  min-width: 270px;
  text-align: left;
}

.page-body .standard-main .primary-view .list-view .vendor-img {
  background-color: #ccc;
  border-radius: 20px 0 0 0;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

.page-body .standard-main .primary-view .list-view li h2 {
  color: #f18200;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 20px;
  text-transform: uppercase;
}

.page-body .standard-main .primary-view .list-view li a {
  background-color: #444;
  border-radius: 0 0 20px 0;
  color: orange;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 44px;
  line-height: 44px;
  vertical-align: middle;
}

.page-body .standard-main .primary-view .list-view p {
  font-size: 16px;
  margin: 0 20px 10px;
}



/*  .page-body .vendor-main .primary-view .info-view  */

.page-body .vendor-main .primary-view .info-view {
  padding: 0 20px;
}

.page-body .vendor-main .primary-view .info-view .vendor-name {
  color: #f18200;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 30px 0;
  text-transform: uppercase;
}



/*  .page-body .vendor-main .primary-view .info-view .vendor-view  */

.page-body .vendor-main .primary-view .info-view .vendor-view {
}

.page-body .vendor-main .primary-view .info-view .vendor-view .vendor-img {
  width: inherit;
  /* We have to individually round this corner so
   * it fits the look of the view.
   */
  border-radius: 20px 0 0 0;
}

.page-body .vendor-main .primary-view .info-view .vendor-view .vendor-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: inherit;
}

.page-body .vendor-main .primary-view .info-view .vendor-view .vendor-address {
  font-size: 16px;
  margin: 0 20px 10px;
}

.page-body .vendor-main .primary-view .info-view .vendor-view .vendor-hours {
  margin: 0 20px 10px;
}

.page-body .vendor-main .primary-view .info-view .vendor-view .vendor-hours td {
  color: #666;
}



/*  .page-body .vendor-main .primary-view .list-view  */

.page-body .vendor-main .primary-view .list-view {
  box-sizing: border-box;
  padding: 30px 20px 80px;
  width: 100%;
}

.page-body .vendor-main .primary-view .list-view h2 {
  color: #f58500;
  font-size: 22px;
  font-weight: 300;
  /*letter-spacing: -1px;*/
  padding-bottom: 1pt;
}

.page-body .vendor-main .primary-view .list-view .reviews-list {
  margin: 0;
  padding: 0;
}

.page-body .vendor-main .primary-view .list-view .reviews-list li {
}

.page-body .vendor-main .primary-view .list-view .reviews-list .namedate-view {
  background-color: #333;
  border-radius: 20px 0 0 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
}

.page-body .vendor-main .primary-view .list-view .namedate-view .review-date,
.page-body .vendor-main .primary-view .list-view .namedate-view .review-name {
  background-color: transparent;
  line-height: 3em;
  vertical-align: middle;
}

.page-body .vendor-main .primary-view .list-view .namedate-view .review-name {
  color: #fff;
  font-size: 18px;
  margin: 0 0 0 20px;
  text-align: left;
}

.page-body .vendor-main .primary-view .list-view .namedate-view .review-date {
  color: #ccc;
  font-size: 16px;
  margin: 4px 20px 0 0;
  text-align: right;
}

.page-body .vendor-main .primary-view .list-view .reviews-list .review-rating {
  box-sizing: content-box;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 6px;
  text-align: left;
  text-transform: uppercase;
  width: 5em;
}

/* review rating colors 1-5 */
.page-body .vendor-main .primary-view .list-view .review-rating.rating-1 {
  background-color: #b22222;
}

.page-body .vendor-main .primary-view .list-view .review-rating.rating-2 {
  background-color: #ee4500;
}

.page-body .vendor-main .primary-view .list-view .review-rating.rating-3 {
  background-color: #ffa500;
}

.page-body .vendor-main .primary-view .list-view .review-rating.rating-4 {
  background-color: #dfb700;
}

.page-body .vendor-main .primary-view .list-view .review-rating.rating-5 {
  background-color: #228b22;
}

.page-body .vendor-main .primary-view .list-view .reviews-list .review-comments {
  color: #666;
  font-size: 16px;
}

.page-body .vendor-main .primary-view .list-view .reviews-list .review-rating,
.page-body .vendor-main .primary-view .list-view .reviews-list .review-comments {
  margin: 10px 20px;
}



/*  .page-body .page-footer  */

.page-body .page-footer {
  background-color: #444;
  bottom: 0;
  box-sizing: border-box;
  /*color: #aaa;*/
  color: #eee;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 15px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}



/*  RESPONSIVE STYLES  */

/* Important global rules */


/* We always keep the body set as the largest container */
/*
html,
.page-body {
  width: 100%;
  margin: 0 auto;
}
*/

/* We always want the header, main, primary view, map, filter view,
 * and footer to fill the screen width.
 */
/*
.page-body .page-header,
.page-body .page-main,
.page-body .page-main .primary-view,
.page-body .page-main .map-view,
.page-body .page-main .primary-view .filter-view,
.page-body .footer {
  width: 100%;
}
*/

/* The inner views all need to fit  within the primary view. */
/*
.page-body .page-header .breadcrumb,
.page-body .page-main .primary-view .info-view,
.page-body .page-main .primary-view .vendor-view,
.page-body .page-main .primary-view .options-view,
.page-body .page-main .primary-view .list-view,
.page-body .page-main .primary-view .list-view .reviews-list,
.page-body .page-main .primary-view .list-view .vendor-list {
}
*/




/*
 * This preserves our ratios for our lowest-supported resolutions.
 * We basically don't support anything smaller than this.
 */
@media screen and (max-width: 360px) {
    .page-body {
      min-width: 360px;
      width: 360px;
      margin: 0;
    }
    
    .page-body .page-header h1 {
      font-size: 18px;
    }
        
    .page-body .page-main .primary-view .info-view .vendor-name {
      font-size: 20px;
    }
    
    .page-body .page-footer {
      font-size: 12px;
    }
    
    .page-body .standard-main .primary-view .filter-view .options-view .neighborhoods-select,
    .page-body .standard-main .primary-view .filter-view .options-view .cuisines-select {
      font-size: 14px;
    }

    .page-body .standard-main .primary-view .list-view li h2 {
      font-size: 18px;
    }
    
    .page-body .page-header .page-nav .breadcrumb,
    .page-body .vendor-main .primary-view .info-view,
    .page-body .vendor-main .primary-view .list-view,
    .page-body .standard-main .primary-view .list-view {
      min-width: 320px;
      width: 100%;
      box-sizing: border-box;
    }
}

@media screen and (min-width: 361px) and (max-width: 499px) {
    .page-body {
      min-width: 360px;
      width: 100%;
      margin: 0;
    }

    .page-body .page-header h1 {
      font-size: 18px;
    }
        
    .page-body .page-main .primary-view .info-view .vendor-name {
      font-size: 20px;
    }
    
    .page-body .standard-main .primary-view .filter-view .options-view .neighborhoods-select,
    .page-body .standard-main .primary-view .filter-view .options-view .cuisines-select {
      font-size: 14px;
    }

    .page-body .page-footer {
      font-size: 12px;
    }

    .page-body .standard-main .primary-view .list-view li h2 {
      font-size: 18px;
    }
    
    .page-body .page-header .page-nav .breadcrumb,
    .page-body .vendor-main .primary-view .info-view,
    .page-body .vendor-main .primary-view .list-view,
    .page-body .standard-main .primary-view .list-view {
      min-width: 320px;
      width: 100%;
      box-sizing: border-box;
    }    
}


/* this is basically where everything is normal sized
@media screen and (min-width: 500px) and (max-width: 799px) {}
*/


/*
 * After we get over 800px, we set our static width and just expand the margins.
 */
@media screen and (min-width: 840px) {
    body,
    html {
        width: 100%;
        margin: 0 auto;
    }
    
    .page-body .page-header,
    .page-body .page-main,
    .page-body .page-main .primary-view,
    .page-body .page-main .map-view,
    .page-body .page-main .primary-view .filter-view,
    .page-body .footer {
      width: 100%;
    }
    
    .page-body .page-header .breadcrumb,
    .page-body .page-main .primary-view .info-view,
    .page-body .page-main .primary-view .vendor-view,
    .page-body .page-main .primary-view .options-view,
    .page-body .page-main .primary-view .list-view,
    .page-body .page-main .primary-view .list-view .reviews-list,
    .page-body .page-main .primary-view .list-view .vendor-list {
      max-width: 800px;
      width: 800px;
      margin: 0 auto;
    }

    .page-body .page-header .breadcrumb {
      padding: 10px 0;
    }
    
    .page-body .standard-main .primary-view .list-view,
    .page-body .vendor-main .primary-view .list-view {
      padding: 30px 0 80px;
    }
    
    .page-body .vendor-main .primary-view .info-view {
      padding: 0;
    }
}




